from django.shortcuts import render, redirect
from django.contrib.auth.decorators import login_required
from .forms import SettingsForm

@login_required
def settings_view(request):
    profile = request.user.userprofile
    if request.method == "POST":
        form = SettingsForm(request.POST, instance=profile)
        if form.is_valid():
            form.save()
            return redirect('settings')
    else:
        form = SettingsForm(instance=profile)

    return render(request, "settings.html", {"form": form})